<navigation></navigation>
  <div class='container'>
    <page-header content="vm.pageHeader"></page-header>
    <div class='text-center'>
      <button class='btn btn-default' ng-class='{"active": vm.requestInbox}' ng-click='vm.toggleRequestDivs("inbox")'>Inbox</button>
      <button class='btn btn-default' ng-class='{"active": vm.requestOutbox}' ng-click='vm.toggleRequestDivs("outbox")'>Outbox</button>
    </div>
    <div class='col-xs-12'>
      <div ng-if='vm.requestInbox'>
        <div class='row bookListInbox'>
          <user-book-div></user-book-div>
        </div>
      </div>
      <div ng-if='vm.requestOutbox'>
        <div class='bookListOutbox row'>
          <book-request-div book></book-request-div>
        </div>
      </div>
    </div>
    <div role="alert" ng-show="vm.message" class="alert alert-success">{{ vm.message }}</div>
    <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
  </div>
<footer-generic></footer-generic>